@import "../fonts/plain.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LaNord";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/LaNord-Regular.woff2") format("woff2"),
    url("../fonts/LaNord-Regular.woff") format("woff");
}

@font-face {
  font-family: "LaNord";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/LaNord-Medium.woff2") format("woff2"),
    url("../fonts/LaNord-Medium.woff") format("woff");
}

body {
  @apply bg-cream-300 text-navy-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-medium;
}

.container {
  @apply px-8;
}

.-container {
  @apply -mx-8;
}

@screen lg {
  .container {
    @apply px-16;
  }
  .-container {
    @apply -mx-16;
  }
}

article p {
  @apply mb-8;
}

form label {
  @apply block mb-1 text-xs uppercase px-3;
}

.content ul {
  @apply list-disc ml-6;
}

.content li {
  @apply mb-4;
}

.content p {
  @apply mb-4;
}

.grow {
  @apply transition-all duration-300 transform;
}

.grow:hover {
  @apply scale-105;
}

.BrainhubCarousel .BrainhubCarousel__arrows {
  @apply bg-teal-300 rounded-full;
}

.BrainhubCarousel .BrainhubCarousel__arrows:hover:enabled {
  @apply bg-teal-400;
}
